
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: black;
}


.hero {
	width: 100%;
	height: 100v;
	position: relative;
	padding: 0 5%;
	display: flex;
	align-items: center;
	justify-content: center;
}


.content{
	text-align: center;
	color: #ffffff
}

.content h1 {
	text-size: 1300px;
	margin-right: 80px;
	color: #ffffff; /* Text color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	margin-top:25%;
}

.content p {
	size: 900px;
	margin-top:30%;
	text-align: justify;
	margin-right: 15%;
	color: #ffffff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
 margin-left:5%;
}

video {
	scale:300%;
}

.back-video {
	position: absolute;
	margin-right: 5%;
	z-index: -1;
	margin-top: 100%;
	opacity: 70%;
	margin-bottom:100%;
}

